<div class="centerdiv">
  <h2>Search for Title</h2>
  <form action="/data/search/title/" method="post" class="boxshadow">
    <label for="title">Enter Title :</label>
    <input type="text" id="title" name="title" required />
    <button type="submit">Search</button>
  </form>
</div>